@model sample.Models.Asset_Maintenance

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<h4>AssetMaintenances</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssetId" class="control-label"></label>
                <select asp-for="AssetId" class="form-control" asp-items="@(ViewBag.Assets as List<SelectListItem>)"></select>
                <span asp-validation-for="AssetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceDate" class="control-label"></label>
                <input asp-for="MaintenanceDate" class="form-control" />
                <span asp-validation-for="MaintenanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceType" class="control-label"></label>
                <input asp-for="MaintenanceType" class="form-control" />
                <span asp-validation-for="MaintenanceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Technician" class="control-label"></label>
                <input asp-for="Technician" class="form-control" />
                <span asp-validation-for="Technician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

